
<div class="home-banner">
<h1>Shake it for Me!</h1>
</div>
<div class="content">
<%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary" %>

<br><br>
<div class="container">

<% @cocktails.each do |cocktail| %>

<div class="card">
  <img src="<%= cl_image_path cocktail.photo %>" class="card-img-top" alt="image_cocktail">
  <div class="card-body">
    <h5 class="card-title"><%= cocktail.name %></h5>
    <%= link_to "More info", cocktail_path(cocktail)  %>
  </div>
</div>
 <% end %>
</div>
</div>

